<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/show_styles.css">
    <title>Task Details</title>
</head>
<body>
    <div class="show-container">
        <div class="show-card">
            <h1><%= filename %></h1>
            <p><%= filedata %></p>
            <a href="/tasks" class="back-link">Go Back to Home</a>
        </div>
    </div>
</body>
</html>
